html, body {
    margin: 0;
    padding: 0;
}

#InitialParticles {
    background-color: #6666ff;
}

#AppInputArea {
    position: absolute;
    display: block;
    top: 40%;
    bottom: 40%;
    left: 30%;
    right: 30%;
    width: 40%;
    height: 20%;
    opacity: .8;
    z-index: 1;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    resize: none;
}

#OutputContainer {
    position: relative;
}

.output-particle-group {
    position: absolute;
    width: 100%;
}